html {
  scroll-behavior: smooth;
}
.section-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-section {
  background-color: #171813;
  background-attachment: fixed;
  background-size: contain;
}
.background-section02 {
  background-color: #32332d;
}
.footer {
  height: 150px;
  padding: 25px;
  text-align: center;
  background-color: #171813;
  color: #fff;
}
