@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  scroll-behavior: smooth;
}
.section-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-section {
  background-color: #171813;
  background-attachment: fixed;
  background-size: contain;
}
.background-section02 {
  background-color: #32332d;
}
.footer {
  font-family: 'Roboto', sans-serif;
  height: 50px;
  padding: 25px;
  text-align: center;
  background-color: #171813;
  color: #fff;
}
.card-container{
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  background:white;
  max-width: 450px;
  padding: 25px;
}
input {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: rgb(230, 230, 230);
}
.cadastro{
  margin-left: 50px;
  background-color: black;
  color:#fff;
  padding: 10px;
  cursor: pointer;
}